<div class="header-container">
    <div class="images">
        <img src="/images/swordCheck.png" alt="sword">
    </div>
    <div class="banner">
        <h1>RPG To Do List</h1>
        <p>Level up your day</p>
    </div>
</div>