<div class="sidenav">
    <!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
    <button id="menuItem-1" title="Profile" onclick="openPanel(this.id)"><img src="/images/roman-helmet.png" alt="Profile"></button>
    <button id="menuItem-2" title="My Tasks" onclick="openPanel(this.id)"><img src="/images/checking.png" alt="tasks"></button>
    <button id="menuItem-3" title="My Rewards" onclick="openPanel(this.id)"><img src="/images/treasure.png" alt="tasks"></button>
    <button id="menuItem-4" title="About" onclick="openPanel(this.id)"><img src="/images/question.png" alt="tasks"></button>
</div>

<div id="navbar-collapse">
    <ul class="tab" id="tab-1" style="display: none;">
        <li><a href="#" id="account">Account</a></li>
        <li><a href="#" id="level">Level</a></li>
        <li><a href="#" id="logout">Logout</a></li>
    </ul>

    <ul class="tab" id="tab-2" style="display: none;">
        <li><a href="#" id="tasks">Tasks</a></li>
        <li><a href="#" id="newTask">New Task</a></li>
        <li><a href="#" id="completed">Completed Tasks</a></li>
    </ul>

    <ul class="tab" id="tab-3" style="display: none;">
        <li><a href="#" id="myRewards">My Rewards</a></li>
        <li><a href="#" id="rewardsList">Rewards List</a></li>
    </ul>
</div>