<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= title %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/login.css">
    </head>
    <body>
        <div class="container">
            <div class="validation-form">
                <h1>Welcome</h1>
                <img src="/images/sword01.png" alt="Sword01">
                <!-- Login Fail Message -->
                
                <form action="/auth/Login" method="POST">
                    <input type="email" placeholder="Email" name="email" autofocus>
                    <input id="userPassword" type="password" name="password" placeholder="Password">
                    <label><input id="showPass" type="checkbox" name="showPass" onclick="showPassword()">Show Password</label>
                    <button type="submit">Login</button>
                </form>

                <div class="account-link">
                    <a class="signup" href="/auth/register">Don't have a account? Sign Up</a>
                </div>
            </div>
        </div>
        <script src="/javascripts/login.js" async defer></script>
    </body>
</html>