<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= title %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/login.css">
    </head>
    <body>
        <div class="container">
            <div class="validation-form">
                <h1>Sign Up</h1>
                <img src="/images/sword01.png" alt="Sword01">
                <form>
                    <input type="text" placeholder="Full Name" autofocus>
                    <input type="text" placeholder="Email">
                    <input type="password" placeholder="Password">
                    <input id="reenter" type="password" placeholder="Re-enter Password">
                    <button type="submit">Register</button>
                    
                    <div class="account-link">
                        <a href="#">Already have an account? Log in</a>
                    </div>
                </form>
            </div>
        </div>
        
        <!-- <script src="" async defer></script> -->
    </body>
</html>